@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
#sub_cover {
    background-image: url(../images/top/sub_cover@2x.jpg);
}
#sub_cover {
    padding: 40px 0;
    background-size: cover;
}
#sub_cover h2 {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.2rem;
}
}
@media (min-width: 551px){
#sub_cover {
    padding: 80px 0;
}
#sub_cover {
    background-image: url(../images/top/sub_cover.jpg);
    background-size: cover;
}
    #sub_cover h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.2rem;
}
}
@media (max-width: 550px){
#contents {
    padding-top: 20px;
}
#contents #main h2.company_title {
    margin-bottom: 0px;
}
#contents #main h2 {
    color: #42b9d0;
    border-bottom: 3px solid #42b9d0;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 15px;
}
}
#contents #main th, #contents #main td {
    padding: 20px 0;
    color: #626262;
    font-size: 1.4rem;
}
    #contents #main th {
    padding-right: 20px;
}

#contents #sidebar .pc_sidemenu {
    display: none;
}

@media (min-width: 551px){
#contents {
    padding-top: 35px;
    padding-bottom: 70px;
}
#contents #main h2.company_title {
    margin-bottom: 0px;
}

}
#contents #main h2 {
    color: #42b9d0;
    border-bottom: 3px solid #42b9d0;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 20px;
}

#contents #main th, #contents #main td {
    padding: 20px 0;
    color: #626262;
    font-size: 1.4rem;
}
#contents #main th {
    padding-right: 20px;
}
#contents #main {
    padding-right: 20px;
}
#contents #sidebar {
    padding-bottom: 20px;
}
#contents #sidebar .pc_sidemenu h3 {
    color: #42b9d0;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    background-color: #f3f9fb;
    padding: 15px;
    margin-bottom: 0px;
}
#contents #sidebar .pc_sidemenu li {
    list-style: none;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: 8px center;
    margin-bottom: 0px;
    padding: 10px 10px 10px 20px;
    background-image: url(../images/top/side_arrow.png);
    background-size: 4px 8px;
}
#contents #sidebar .pc_sidemenu li a {
   color: #339fd1;
   text-decoration: none;
}

element.style {
    vertical-align: bottom;
    width: 180px;
    height: 300px;
}